In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkDFDistinctDuplicate').getOrCreate()

23/11/13 13:21:26 WARN Utils: Your hostname, Willys-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.1.5 instead (on interface en0)
23/11/13 13:21:26 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/11/13 13:21:27 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/11/13 13:21:27 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [2]:
df = spark.read.options(header="True", inferSchema="True").csv("StudentData.csv")
df.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [3]:
df2 = df.select("age", "gender", "course")
df2.show()

+---+------+------+
|age|gender|course|
+---+------+------+
| 28|Female|    DB|
| 29|Female| Cloud|
| 28|  Male|    PF|
| 29|Female|    DB|
| 28|  Male|   DSA|
| 28|  Male|   MVC|
| 28|  Male|   OOP|
| 28|Female| Cloud|
| 28|  Male|   MVC|
| 29|  Male|   OOP|
| 29|Female|   DSA|
| 29|  Male|    DB|
| 28|Female|    DB|
| 29|Female|   MVC|
| 29|  Male|    PF|
| 29|Female|    DB|
| 29|  Male|   MVC|
| 29|  Male|   OOP|
| 29|  Male|    PF|
| 28|Female|    DB|
+---+------+------+
only showing top 20 rows

In [4]:
df2.distinct().show()

+---+------+------+
|age|gender|course|
+---+------+------+
| 28|  Male| Cloud|
| 28|Female|    DB|
| 28|Female|   MVC|
| 29|  Male|    PF|
| 28|Female|   OOP|
| 29|Female| Cloud|
| 29|  Male| Cloud|
| 29|Female|   DSA|
| 29|  Male|   OOP|
| 29|  Male|    DB|
| 28|Female|    PF|
| 29|Female|   MVC|
| 29|Female|    DB|
| 28|  Male|    PF|
| 29|  Male|   DSA|
| 28|Female| Cloud|
| 29|Female|   OOP|
| 29|  Male|   MVC|
| 28|  Male|   OOP|
| 28|  Male|   DSA|
+---+------+------+
only showing top 20 rows

In [5]:
df3 = df.dropDuplicates(["age", "gender", "name"])
df3.show()

+---+------+----------------+------+-------+-----+--------------------+
|age|gender|            name|course|   roll|marks|               email|
+---+------+----------------+------+-------+-----+--------------------+
| 28|Female|     Abram Nagao|    DB|2632057|   25|Margene Moores_So...|
| 28|Female|  Alberta Freund|   OOP| 251805|   83|Annika Hoffman_Sh...|
| 28|Female|     Anna Santos|    DB| 311589|   79|Celeste Lollis_Mi...|
| 28|Female|  Annika Hoffman|   DSA|4162718|   63|Gonzalo Ferebee_B...|
| 28|Female|     Billi Clore| Cloud| 801693|   38|Niki Klimek_Kizzy...|
| 28|Female|  Bonita Higuera|   DSA|1122348|   51|Somer Stoecker_Je...|
| 28|Female|  Celeste Lollis|   DSA| 731879|   76|Hubert Oliveras_G...|
| 28|Female|    Cheri Kenney|   MVC| 321816|   24|Kena Wild_Michell...|
| 28|Female|    Claude Panos| Cloud|  72409|   85|Sheryll Towler_Al...|
| 28|Female|Clementina Menke|   OOP|4301606|   77|Naoma Fritts_Leon...|
| 28|Female|  Cordie Harnois|   OOP|1231943|   68|Mickey Cortright_...|
| 28|Female|     Donna Yerby| Cloud|4392575|   22|Leontine Phillips...|
| 28|Female|  Dustin Feagins|   DSA| 291984|   82|Abram Nagao_Kena ...|
| 28|Female|    Eda Neathery| Cloud|1272870|   69|Somer Stoecker_Du...|
| 28|Female|    Elenore Choy|   OOP|3521960|   90|Sebrina Maresca_T...|
| 28|Female| Ernest Rossbach| Cloud|2602027|   83|Alberta Freund_Go...|
| 28|Female| Gonzalo Ferebee|    DB|1451513|   69|Claude Panos_Tame...|
| 28|Female| Hubert Oliveras|    DB|   2984|   59|Annika Hoffman_Na...|
| 28|Female|  Jalisa Swenson|   OOP| 431352|   25|Gonzalo Ferebee_J...|
| 28|Female|    Jc Andrepont|   DSA| 232060|   58|Billi Clore_Abram...|
+---+------+----------------+------+-------+-----+--------------------+
only showing top 20 rows