In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/11/23 13:23:51 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/11/23 13:23:51 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [2]:
df = spark.read.options(header="True", inferSchema="True").csv("StudentData.csv")
df.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [3]:
df.groupBy("course","gender").count().show()

+------+------+-----+
|course|gender|count|
+------+------+-----+
|   OOP|  Male|   70|
|    DB|  Male|   82|
| Cloud|Female|  106|
|   MVC|  Male|   86|
|   DSA|Female|   98|
|    PF|  Male|   97|
|   MVC|Female|   71|
| Cloud|  Male|   86|
|    PF|Female|   69|
|   DSA|  Male|   78|
|    DB|Female|   75|
|   OOP|Female|   82|
+------+------+-----+

In [4]:
from pyspark.sql.functions import sum, avg, max, min, count, mean

In [6]:
df.groupBy("course").agg(sum("marks").alias("sum_marks")).show()

+------+---------+
|course|sum_marks|
+------+---------+
|    PF|     9933|
|    DB|     9270|
|   MVC|     9585|
|   DSA|    10950|
| Cloud|    11443|
|   OOP|     8916|
+------+---------+

In [10]:
df.groupBy("course", "gender").agg(count("*"), sum("marks"), min("marks"), max("marks"), avg("marks")).show()

+------+------+--------+----------+----------+----------+------------------+
|course|gender|count(1)|sum(marks)|min(marks)|max(marks)|        avg(marks)|
+------+------+--------+----------+----------+----------+------------------+
|   OOP|  Male|      70|      4234|        20|        99| 60.48571428571429|
|    DB|  Male|      82|      5073|        20|        98| 61.86585365853659|
| Cloud|Female|     106|      6316|        20|        99| 59.58490566037736|
|   MVC|  Male|      86|      5241|        22|        99| 60.94186046511628|
|   DSA|Female|      98|      6124|        20|        99| 62.48979591836735|
|    PF|  Male|      97|      5960|        20|        99| 61.44329896907217|
|   MVC|Female|      71|      4344|        22|        99|61.183098591549296|
| Cloud|  Male|      86|      5127|        21|        97|59.616279069767444|
|    PF|Female|      69|      3973|        20|        99| 57.57971014492754|
|   DSA|  Male|      78|      4826|        20|        99| 61.87179487179487|
|    DB|Female|      75|      4197|        20|        96|             55.96|
|   OOP|Female|      82|      4682|        21|        99| 57.09756097560975|
+------+------+--------+----------+----------+----------+------------------+

In [11]:
df = spark.read.options(header="True", inferSchema="True").csv("OfficeData.csv")
df.show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
+-------------+----------+-----+------+---+-----+

In [12]:
df.groupBy("department").count().show()

+----------+-----+
|department|count|
+----------+-----+
|     Sales|    3|
|   Finance|    4|
| Marketing|    2|
+----------+-----+

In [15]:
df.groupBy("department").agg(sum("salary"), min("salary")).show()

+----------+-----------+-----------+
|department|sum(salary)|min(salary)|
+----------+-----------+-----------+
|     Sales|     257000|      81000|
|   Finance|     351000|      79000|
| Marketing|     171000|      80000|
+----------+-----------+-----------+

In [16]:
df.groupBy("department", "state").agg(count("*")).show()

+----------+-----+--------+
|department|state|count(1)|
+----------+-----+--------+
|   Finance|   NY|       2|
| Marketing|   NY|       1|
|     Sales|   CA|       1|
| Marketing|   CA|       1|
|   Finance|   CA|       2|
|     Sales|   NY|       2|
+----------+-----+--------+