In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkDFWithColumns').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/11/09 16:01:04 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/11/09 16:01:05 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [2]:
df = spark.read.options(header="True", inferSchema="True").csv("StudentData.csv")

In [3]:
df.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [4]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: integer (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

In [13]:
from pyspark.sql.functions import col, lit

In [10]:
df2 = df.withColumn("roll", col("roll").cast("String"))
df2.printSchema()

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: string (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

In [11]:
df2 = df2.withColumn("marks", col("marks") + 10)
df2.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   69|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   72|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   55|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   39|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   51|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   42|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   79|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   95|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   74|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   61|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   45|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   63|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   37|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   65|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   52|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   37|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   46|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   32|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   66|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   72|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [12]:
df2 = df2.withColumn("aggregated marks", col("marks") + 10)
df2.show()

+---+------+----------------+------+------+-----+--------------------+----------------+
|age|gender|            name|course|  roll|marks|               email|aggregated marks|
+---+------+----------------+------+------+-----+--------------------+----------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   69|Annika Hoffman_Na...|              79|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   72|Margene Moores_Ma...|              82|
| 28|  Male|  Celeste Lollis|    PF| 21267|   55|Jeannetta Golden_...|              65|
| 29|Female|    Elenore Choy|    DB| 32877|   39|Billi Clore_Mitzi...|              49|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   51|Claude Panos_Judi...|              61|
| 28|  Male|  Margene Moores|   MVC| 52771|   42|Toshiko Hillyard_...|              52|
| 28|  Male|     Neda Briski|   OOP| 61973|   79|Alberta Freund_El...|              89|
| 28|Female|    Claude Panos| Cloud| 72409|   95|Sheryll Towler_Al...|             105|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   74|Nicole Harwood_Cl...|              84|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   61|Judie Chipps_Clem...|              71|
| 29|Female|       Kena Wild|   DSA|102285|   45|Dustin Feagins_Ma...|              55|
| 29|  Male| Ernest Rossbach|    DB|111449|   63|Maybell Duguay_Ab...|              73|
| 28|Female|  Latia Vanhoose|    DB|122502|   37|Latia Vanhoose_Mi...|              47|
| 29|Female|  Latia Vanhoose|   MVC|132110|   65|Eda Neathery_Nico...|              75|
| 29|  Male|     Neda Briski|    PF|141770|   52|Margene Moores_Mi...|              62|
| 29|Female|  Latia Vanhoose|    DB|152159|   37|Claude Panos_Sant...|              47|
| 29|  Male|  Loris Crossett|   MVC|161771|   46|Mitzi Seldon_Jenn...|              56|
| 29|  Male|  Annika Hoffman|   OOP|171660|   32|Taryn Brownlee_Mi...|              42|
| 29|  Male|   Santa Kerfien|    PF|182129|   66|Judie Chipps_Tary...|              76|
| 28|Female|Mickey Cortright|    DB|192537|   72|Ernest Rossbach_M...|              82|
+---+------+----------------+------+------+-----+--------------------+----------------+
only showing top 20 rows

In [14]:
df2 = df2.withColumn("country", lit("USA"))
df2.show()

+---+------+----------------+------+------+-----+--------------------+----------------+-------+
|age|gender|            name|course|  roll|marks|               email|aggregated marks|country|
+---+------+----------------+------+------+-----+--------------------+----------------+-------+
| 28|Female| Hubert Oliveras|    DB|  2984|   69|Annika Hoffman_Na...|              79|    USA|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   72|Margene Moores_Ma...|              82|    USA|
| 28|  Male|  Celeste Lollis|    PF| 21267|   55|Jeannetta Golden_...|              65|    USA|
| 29|Female|    Elenore Choy|    DB| 32877|   39|Billi Clore_Mitzi...|              49|    USA|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   51|Claude Panos_Judi...|              61|    USA|
| 28|  Male|  Margene Moores|   MVC| 52771|   42|Toshiko Hillyard_...|              52|    USA|
| 28|  Male|     Neda Briski|   OOP| 61973|   79|Alberta Freund_El...|              89|    USA|
| 28|Female|    Claude Panos| Cloud| 72409|   95|Sheryll Towler_Al...|             105|    USA|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   74|Nicole Harwood_Cl...|              84|    USA|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   61|Judie Chipps_Clem...|              71|    USA|
| 29|Female|       Kena Wild|   DSA|102285|   45|Dustin Feagins_Ma...|              55|    USA|
| 29|  Male| Ernest Rossbach|    DB|111449|   63|Maybell Duguay_Ab...|              73|    USA|
| 28|Female|  Latia Vanhoose|    DB|122502|   37|Latia Vanhoose_Mi...|              47|    USA|
| 29|Female|  Latia Vanhoose|   MVC|132110|   65|Eda Neathery_Nico...|              75|    USA|
| 29|  Male|     Neda Briski|    PF|141770|   52|Margene Moores_Mi...|              62|    USA|
| 29|Female|  Latia Vanhoose|    DB|152159|   37|Claude Panos_Sant...|              47|    USA|
| 29|  Male|  Loris Crossett|   MVC|161771|   46|Mitzi Seldon_Jenn...|              56|    USA|
| 29|  Male|  Annika Hoffman|   OOP|171660|   32|Taryn Brownlee_Mi...|              42|    USA|
| 29|  Male|   Santa Kerfien|    PF|182129|   66|Judie Chipps_Tary...|              76|    USA|
| 28|Female|Mickey Cortright|    DB|192537|   72|Ernest Rossbach_M...|              82|    USA|
+---+------+----------------+------+------+-----+--------------------+----------------+-------+
only showing top 20 rows