In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

23/11/13 15:03:53 WARN Utils: Your hostname, Willys-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.31.230 instead (on interface en0)
23/11/13 15:03:53 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/11/13 15:03:53 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
df = spark.read.options(header="True", inferSchema="True").csv("StudentData.csv")
df.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [4]:
df.sort("marks", "age").show()

+---+------+-----------------+------+-------+-----+--------------------+
|age|gender|             name|course|   roll|marks|               email|
+---+------+-----------------+------+-------+-----+--------------------+
| 28|Female|     Jc Andrepont|    PF| 972733|   20|Eda Neathery_Eda ...|
| 28|Female|   Maybell Duguay| Cloud| 261439|   20|Nicole Harwood_Ju...|
| 28|  Male|  Marylee Capasso|   DSA|2081560|   20|Sheryll Towler_Do...|
| 29|  Male|     Elenore Choy|    DB|3652057|   20|Jc Andrepont_Gonz...|
| 29|Female|   Tamera Blakley|   DSA|3911247|   20|Donna Yerby_Bonit...|
| 29|  Male|   Jalisa Swenson|   OOP|4751515|   20|Annika Hoffman_Hu...|
| 29|Female|  Gonzalo Ferebee|   DSA|5631172|   20|Jeannetta Golden_...|
| 29|  Male|Michelle Ruggiero|    PF|6001585|   20|Paris Hutton_Marg...|
| 29|Female|Michelle Ruggiero|    DB|9232210|   20|Donna Yerby_Latia...|
| 28|  Male|      Abram Nagao| Cloud|2652463|   21|Eda Neathery_Anni...|
| 28|  Male|    Kizzy Brenner| Cloud|4622328|   21|Leontine Phillips...|
| 28|Female|  Sebrina Maresca|    PF|5742239|   21|Bonita Higuera_Se...|
| 28|  Male|   Bonita Higuera| Cloud|7671835|   21|Taryn Brownlee_Se...|
| 28|  Male|      Billi Clore|    DB|9151306|   21|Latia Vanhoose_Er...|
| 29|Female|  Gonzalo Ferebee|   OOP|2262603|   21|Bonita Higuera_Ch...|
| 29|Female|   Alberta Freund|   OOP|4501424|   21|Toshiko Hillyard_...|
| 29|  Male|  Sebrina Maresca| Cloud|5042394|   21|Donna Yerby_Miche...|
| 29|  Male|   Tamera Blakley|   OOP|7341268|   21|Anna Santos_Naoma...|
| 29|Female|   Nicole Harwood|    PF|8121198|   21|Bonita Higuera_Pr...|
| 28|Female|     Cheri Kenney| Cloud|2281771|   22|Tamera Blakley_Ab...|
+---+------+-----------------+------+-------+-----+--------------------+
only showing top 20 rows

In [5]:
df.orderBy(df.marks.desc()).show()

+---+------+------------------+------+-------+-----+--------------------+
|age|gender|              name|course|   roll|marks|               email|
+---+------+------------------+------+-------+-----+--------------------+
| 28|  Male|       Niki Klimek|   DSA|5172507|   99|Marylee Capasso_E...|
| 28|  Male|    Loris Crossett|   OOP|9692316|   99|Judie Chipps_Mich...|
| 29|  Male|    Maybell Duguay|    PF| 701486|   99|Clementina Menke_...|
| 29|Female|      Eda Neathery|    PF|9222608|   99|Kena Wild_Lawanda...|
| 28|Female|      Judie Chipps|   OOP|5451977|   99|Tamera Blakley_Mi...|
| 29|Female|Priscila Tavernier|   OOP|3902993|   99|Celeste Lollis_Bi...|
| 29|Female|      Paris Hutton|   DSA| 271472|   99|Sheryll Towler_Al...|
| 29|  Male| Michelle Ruggiero|   DSA|1022971|   99|Cordie Harnois_Cl...|
| 28|Female|    Melani Engberg| Cloud|1872667|   99|Alberta Freund_Ni...|
| 28|Female|    Jalisa Swenson|   MVC|5712033|   99|Dustin Feagins_Hu...|
| 29|  Male|   Gonzalo Ferebee|   MVC|5772006|   99|Niki Klimek_Marge...|
| 29|Female|    Alberta Freund|   DSA|6071316|   99|Dustin Feagins_Se...|
| 29|  Male|    Melani Engberg|    DB|2941257|   98|Claude Panos_Kena...|
| 28|  Male|    Jenna Montague|   OOP|3331161|   98|Leontine Phillips...|
| 29|Female|  Lawanda Wohlwend| Cloud|7222880|   98|Sheryll Towler_An...|
| 28|  Male|  Clementina Menke|   DSA|2772189|   98|Donna Yerby_Judie...|
| 28|  Male|    Loris Crossett|   OOP|8172914|   98|Paris Hutton_Pari...|
| 28|Female|      Judie Chipps|   DSA|4631068|   98|Toshiko Hillyard_...|
| 28|  Male|    Dustin Feagins|    DB|8871049|   98|Jenna Montague_Cl...|
| 29|  Male|    Alberta Freund|    DB|1671638|   98|Clementina Menke_...|
+---+------+------------------+------+-------+-----+--------------------+
only showing top 20 rows

In [6]:
df.orderBy(df.marks.asc(), df.age.desc()).show()

+---+------+-----------------+------+-------+-----+--------------------+
|age|gender|             name|course|   roll|marks|               email|
+---+------+-----------------+------+-------+-----+--------------------+
| 29|  Male|     Elenore Choy|    DB|3652057|   20|Jc Andrepont_Gonz...|
| 29|Female|   Tamera Blakley|   DSA|3911247|   20|Donna Yerby_Bonit...|
| 29|  Male|   Jalisa Swenson|   OOP|4751515|   20|Annika Hoffman_Hu...|
| 29|Female|  Gonzalo Ferebee|   DSA|5631172|   20|Jeannetta Golden_...|
| 29|  Male|Michelle Ruggiero|    PF|6001585|   20|Paris Hutton_Marg...|
| 29|Female|Michelle Ruggiero|    DB|9232210|   20|Donna Yerby_Latia...|
| 28|Female|     Jc Andrepont|    PF| 972733|   20|Eda Neathery_Eda ...|
| 28|Female|   Maybell Duguay| Cloud| 261439|   20|Nicole Harwood_Ju...|
| 28|  Male|  Marylee Capasso|   DSA|2081560|   20|Sheryll Towler_Do...|
| 29|  Male|  Sebrina Maresca| Cloud|5042394|   21|Donna Yerby_Miche...|
| 29|Female|   Alberta Freund|   OOP|4501424|   21|Toshiko Hillyard_...|
| 29|  Male|   Tamera Blakley|   OOP|7341268|   21|Anna Santos_Naoma...|
| 29|Female|   Nicole Harwood|    PF|8121198|   21|Bonita Higuera_Pr...|
| 29|Female|  Gonzalo Ferebee|   OOP|2262603|   21|Bonita Higuera_Ch...|
| 28|  Male|   Bonita Higuera| Cloud|7671835|   21|Taryn Brownlee_Se...|
| 28|Female|  Sebrina Maresca|    PF|5742239|   21|Bonita Higuera_Se...|
| 28|  Male|    Kizzy Brenner| Cloud|4622328|   21|Leontine Phillips...|
| 28|  Male|      Abram Nagao| Cloud|2652463|   21|Eda Neathery_Anni...|
| 28|  Male|      Billi Clore|    DB|9151306|   21|Latia Vanhoose_Er...|
| 29|Female|   Maybell Duguay|   MVC|1102536|   22|Somer Stoecker_Ma...|
+---+------+-----------------+------+-------+-----+--------------------+
only showing top 20 rows